body{
    background-color:gray;
    padding: 0;
    font-size: 15px;
}
    .fullWidth {
width: 100%;
margin-left: auto;
margin-right: auto;
max-width: initial;
color:aqua;
margin-bottom:1000px;
position:fixed;
height:auto;
}
.bac{
    background-color:#A7A6A8;
    height: 200px;
    margin-top: 10px;
    width: 30%;
}
.text{
  color:#6CBEE7;  
}

.container{
    background-color:white;
    height: 2000px
}



/* hey*/
@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Montserrat);
body {
  background: #1edecb;
  color:black;
  font-family: sans-serif;
  text-shadow: 4px 4px 2px rgba(15, 100, 91, .5);
  padding:0;
text-align:center;

}

nav.main {
    position: fixed;
    font-size: 20px;
    height: 1000px;
   
}
ul {
        padding:0;
        list-style:none;
        margin:0;
        display:block;
}
        li {
            display: block;
          border-bottom:1px solid white; 
}
            a {
                font-size: 10px;
                color: black;
                text-decoration: none;
            }
        }
    }
}

section {
  font-size: 40px;
  height: 250px;
  border-bottom: 10px solid #fff;
margin-bottom:20000px;
}

.img{
  height: 30px; 
    font-size: 60px;
}
